<div>

  <div class="container">
    <div class="row">
      <h3>Country </h3>
      <auto-complete-field [(ngModel)]="selectedCountries"
        [suggestions]="['Jordan' , 'Egypt' , 'Germany' , 'USA' , 'Iraq']" [placeholder]="'choose a country'">
      </auto-complete-field>
    </div>

    <div class="saperator"></div>


    <div class="row">
      <h3>Css Available Colors</h3>
      <auto-complete-field [(ngModel)]="selectedColors"
        [suggestions]="cssAvailableColors" [placeholder]="'choose a color'">
      </auto-complete-field>
    </div>


    <div class="row">
      <h3>Pre selected values Example</h3>
      <auto-complete-field [(ngModel)]="preSelectedColors"
        [suggestions]="cssAvailableColors" [placeholder]="'choose a color'">
      </auto-complete-field>
    </div>

    <div class="row">
      <h3>Disabled Example</h3>
      <auto-complete-field [(ngModel)]="disabledSelectedColors"
        [suggestions]="cssAvailableColors" [placeholder]="'choose a color'" [disabled]="true">
      </auto-complete-field>
    </div>


  </div>
</div>
